* {
  margin: 0;
  padding: 0;
}
nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}
nav li {
  list-style-type: none;
  margin-right: 90px;
  padding: 10px 10px;
}
nav li:hover {
  background-color: cornflowerblue;
}
nav li a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  margin-left: 30px;
}
/* Nested menu of nav */
nav li .nested-one {
  display: none;
  position: absolute;
  margin-top: 10px;
  padding: 0;
}
nav li:hover > .nested-one {
  display: block;
}
