*{
    margin: 0;
    padding: 0;
}
.sundarban-blog-title{
    background-color: burlywood;
    text-align: center;
}
.blogs{
    background-color: aquamarine;
}
.blogs article h2{
    color: red;
    margin-top: 10px;
}
.blogs article p{
    padding: 5px;
}